@{
  Layout = "_Layout";
}

@using NewsGator.Models
@model List<NewsGator.Models.Article>

<h3>Number of Stories: @Model.Count</h3>
<ol>
  @foreach (Article article in Model)
  {
    <li><ul>
      <li>Source: @article.Source</li>
      <li>Author: @article.Author</li>
      <li>Title: @article.Title</li>
      <li>Description: @article.Summary</li>
      <li>Url: @article.Url</li>
    </ul></li>
  }
</ol>