@{
  Layout = "_Layout";
  ViewData["Title"] = "Home Page";
}

<h3>If You Can See This, Then The Render View is Working</h3>

<ul>
  <li>@Html.ActionLink("Get APIS", "Index", "Articles")</li>
  <li>@Html.ActionLink("Get NYT APIs", "List", "Articles", new { sourceName = "New York Times"})</li>
  <li>@Html.ActionLink("Get BBC News APIs", "List", "Articles", new { sourceName = "BBC News"})</li>
  <li>@Html.ActionLink("Get Associated Press APIs", "List", "Articles", new { sourceName = "Associated Press"})</li>
  <li>@Html.ActionLink("Get Reuters APIs", "List", "Articles", new { sourceName = "Reuters"})</li>
  <li>@Html.ActionLink("Get Bloomberg APIs", "List", "Articles", new { sourceName = "Bloomberg"})</li>
  <li>@Html.ActionLink("Get CBS News APIs", "List", "Articles", new { sourceName = "CBS News"})</li>
  <li>@Html.ActionLink("Get WSJ APIs", "List", "Articles", new { sourceName = "Wall Street Journal"})</li>
  <li>@Html.ActionLink("Get Washington Post APIs", "List", "Articles", new { sourceName = "Washington Post"})</li>
  <li>@Html.ActionLink("Get Politico APIs", "List", "Articles", new { sourceName = "Politico"})</li>
  <li>@Html.ActionLink("Clear Database", "Reset", "Articles")</li>
</ul>